/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.bg-teal-light {
  background-color: #e0f7fa; /* Light teal background */
}

.text-teal-dark {
  color: #00796b; /* Dark teal font */
}

.text-teal-muted {
  color: #004d40; /* Muted teal font */
}
