body {
  background-color: #181818;
  color: white;
  font-family: 'Poppins', sans-serif;
}

a {
  transition: all 0.3s ease;
}

a:hover {
  color: #f39c12;
}

.bg-dark {
  background-color: #181818;
}

.text-gradient {
  background-image: linear-gradient(to right, #1abc9c, #16a085);
}

.text-transparent {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
